@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Mediu.eot');
    src: local('NeueHaasDisplay-Mediu'),
        url('NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('NeueHaasDisplay-Mediu.woff') format('woff'),
        url('NeueHaasDisplay-Mediu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Roman.eot');
    src: local('NeueHaasDisplay-Roman'),
        url('NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('NeueHaasDisplay-Roman.woff') format('woff'),
        url('NeueHaasDisplay-Roman.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Bold.eot');
    src: local('NeueHaasDisplay-Bold'),
        url('NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('NeueHaasDisplay-Bold.woff') format('woff'),
        url('NeueHaasDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

